USE [master]
GO
/****** Object:  Database [tp4-AvNoSma]    Script Date: 19/5/2023 08:19:34 ******/
CREATE DATABASE [tp4-AvNoSma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tp4-AvNoSma', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\tp4-AvNoSma.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tp4-AvNoSma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\tp4-AvNoSma_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tp4-AvNoSma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tp4-AvNoSma]
GO
/****** Object:  User [alumno]    Script Date: 19/5/2023 08:19:34 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Peliserie]    Script Date: 19/5/2023 08:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliserie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](200) NULL,
	[titulo] [varchar](100) NULL,
	[fechaCreacion] [date] NULL,
	[calificacion] [int] NULL,
	[personajes] [varchar](100) NULL,
 CONSTRAINT [PK_Peliserie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 19/5/2023 08:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](200) NULL,
	[nombre] [varchar](50) NULL,
	[edad] [int] NULL,
	[peso] [float] NULL,
	[historia] [varchar](200) NULL,
	[peliserie] [varchar](100) NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
